.breadcrumb {
    padding-top: 3px;
    padding-bottom: 3px;

    &-item {
        color: $white;


        &:before {
            color: $light !important;
        }

        &.active {
            color: $gray-400;

            &:before {
                color: $light;
            }
        }

        a.text-muted {
            color: $gray-400 !important;
        }

        &:before {
            color: inherit;
        }
    }
}