.callout-image {
    padding-top: 70px;
    padding-bottom: 70px;

    @include screen-min(md) {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @include screen-min(lg) {
        padding-top: 105px;
        padding-bottom: 105px;
    }
}

.callout-content {
    visibility: hidden;
    max-width: 720px;
    border-radius: $border-radius;
    color: $white;
    background-color: transparentize($brown-light, .65) ;

    p {
        color: darken($white, 5);

        &.footnote {
            font-style: oblique;
        }
    }
}