.intro {
    min-height: 120px;
    position: relative;
}

.intro-image {
    background-position: center;
    background-size: cover;
    &-slider {
        min-height: 480px;
    }
}

.intro-slider {
    visibility: hidden;
    position: absolute;
    width: 320px;
    max-width: 100%;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    @include screen-min(sm) {
        width: 480px;
    }

    @include screen-min(md) {
        top: 45%;
        width: 640px;
    }
}

.intro-slider-next, .intro-slider-prev {

    &:hover {
        color: $white;
        background-color: $primary;
    }

}
.intro-text-wrapper {
}

.intro-text-with-bg {

    color: $white;
    font-size: 22px;
    text-shadow:
    -1px -1px 0 $black,
    1px -1px 0 $black,
    -1px 1px 0 $black,
    1px 1px 0 $black;

    #{headings(1,6)} {

        margin-bottom: 0;

        + p {
            margin-top: 10px;
        }
    }
}