.intro {
    min-height: 120px;
    position: relative;
    z-index: 1;
}

.intro-image {
    background-position: center;
    background-size: cover;

    &-slider {
        background-position: center;
        background-size: cover;
        min-height: 520px;

        @include screen-min(md) {
            margin-bottom: 200px;
        }
    }
}

.intro-slider {
    visibility: hidden;
    position: absolute;
    width: 360px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 320px;
    max-width: 100%;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);

    @include screen-min(sm) {
        top: 65%;
        width: 480px;
        min-height: 380px;
    }

    @include screen-min(md) {
        top:63.5%;
        width: 640px;
        min-height: 420px;
    }
}

.intro-slider-next, .intro-slider-prev {

    background-color: transparentize($info, .5);
    color: transparentize($white, .2);

    &:hover {
        color: $white;
        background-color: $primary;
    }

}
.intro-text-wrapper {
}

.intro-text-with-bg {

    color: $white;
    font-size: 22px;
    text-shadow:
    -1px -1px 0 $black,
    1px -1px 0 $black,
    -1px 1px 0 $black,
    1px 1px 0 $black;

    #{headings(1,6)} {

        margin-bottom: 0;

        + p {
            margin-top: 10px;
        }
    }
}
