// Take care, you are extending and overriding generic bs4 classes here


.nav-lang {
    background-color: $white;
    position: absolute;
    right:15px;
    border: 1px solid $mainnav-lang-active;
    top: $mainnav-height;
    border-radius: $border-radius;
    overflow: hidden;
    visibility: visible;

    @include screen-min(md) {
        top: calc(#{$mainnav-height} - 10px);
        right:20px;
    }
    .collapsing & {
        display: none;
    }
}

.nav-lang-link {
    padding: 2px 5px;
    line-height: 16px;

    span.flag-icon {
        width: 15px;
        line-height: 1;
        padding: 0;
    }
}
