// Take care, you are extending and overriding generic bs4 classes here


.nav-lang {
    position: absolute;
    left:50%;
    border: 1px solid $mainnav-lang-active;
    transform: translateX(-50%);
    margin-right: 20px;
    top: $mainnav-height;
    border-radius: $border-radius;
    overflow: hidden;
    visibility: visible;

    @include screen-min(md) {
        visibility: hidden;
        top: 5px;
    }
}

.nav-lang-link {
    padding: 2px 5px;
    line-height: 16px;

    span.flag-icon {
        width: 15px;
        line-height: 1;
        padding: 0;
    }
}
