.page {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    height: 100vh; /* 1 */
}

.page-header, .page-footer {
    flex-shrink: 0; /* 2 */
}

.page-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex-fixed;

    @include dropshadow();
}

.page-content {
    flex: 1 0 auto; /* 2 */
}