.page {
    position: relative;
    padding-top: $mainnav-height;
    display: flex;
    flex-direction: column;
    height: 100vh; /* 1 */

}

.page-header, .page-footer {
    flex-shrink: 0; /* 2 */
}

.page-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex-fixed;

    @include dropshadow();
}

.page-content {

    flex: 1 0 auto; /* 2 */
    position: relative;
    overflow-x: hidden;

    // LUYA admin UI page property background image settings

    &-background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;

        &:after {
            content: '';
            position: absolute;
            top:0;
            left: 0;
            bottom: 0;
            right: 0;
            background: transparentize($white, .4);
        }
    }
}