.tours {

    .card-img-top {
        max-width: 100%;
    }

    .card-group {
        .card {

            background-color: lighten($info, 20);
            @include hover(true);

            .card-footer {
                border-top: 1px solid $brown;
            }
        }
    }
}