.tours {

    .card-img-top {
        max-width: 100%;
    }

    .card-group {
        .card {
            border-color:lighten($info, 25) !important;
            background-color: lighten($info, 20);
            @include hover(true);

            .card-footer {
                background-color:lighten($info, 10) !important;
                border-top: none;
            }
        }
    }
}